doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title なんでも伝言板
    style.
      *{
          text-align: center;
          writing-mode: vertical-rl;
          text-orientation: upright;
          background-color: #008000;
          color: #DDDDDD;
          font-family: monospace,serif;
          }

  body.container
    - function Keikajikan(createdAt) {
    -   const milliseconds = new Date() - new Date(createdAt)
    -   const seconds = Math.floor(milliseconds / 1000)
    -   const minutes = Math.floor(milliseconds / 1000 / 60)
    -   const hours = Math.floor(milliseconds / (1000 * 60) / 60)
    -   const days = Math.floor((milliseconds / (1000 * 60 * 60)) / 24)
    -   const months = Math.floor((millisecons / (1000 * 60 * 60 * 24)) /30)
    -   const years = Math.floor((milliseconds / (1000 * 60 * 60)) / 24 / 365)
    -   if (years > 0)  return `${years}年前`
    -   else if (months > 0)  return `${months}か月前`
    -   else if (days > 0)  return `${days}日前` 
    -   else if (hours > 0)  return `${hours}時間前` 
    -   else if (minutes > 0)  return `${minutes}分前` 
    -   else return `${seconds}秒前`
    - }
    div.my-3
      a(href="/logout").btn.btn-info.float-right ログアウト
      h1(style="font-size:230%") なんでも 伝 言 板
      h3 こちらへどうぞ
      h2 ←
    form(method="post" action="/posts")
      div.form-group
        textarea(name="content" cols="20" rows="20").form-control
        input(type="hidden" name="oneTimeToken" value=oneTimeToken)
      div.form-group
        button(type="submit").btn.btn-primary 押
      hr
      hr
    each post in posts
      div.card.my-3
        div.card-header
            - var isPostedByAdmin = (post.postedBy === 'admin')
            if isPostedByAdmin
              h3(style="font-size:70%") ★
            //-else
              //-- var originalTrackingId = post.trackingCookie ? post.trackingCookie.split('_')[0] : ''
              //-span #{post.id} : ID:#{originalTrackingId}  
        div.card-body
          p.card-text(style="font-size:130%") #{post.content}
        div.card-footer
            - const PastFromPostedTime = Keikajikan(post.createdAt)
             p(style="font-size:70%") #{post.id} #{PastFromPostedTime} #{post.postedBy}
            - var isAdmin = (user === 'admin')
            if isAdmin
              div 投稿者: #{post.postedBy}
            - var isDeletable = (user === post.postedBy || isAdmin)
            if isDeletable
              form(method="post" action="/posts?delete=1")
                input(type="hidden" name="id" value=post.id)
                input(type="hidden" name="oneTimeToken" value=oneTimeToken)
                button(type="submit").btn.btn-danger.float-right 消
      hr
    //-script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    //-script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
    //-integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
    //-crossorigin="anonymous")
